<!DOCTYPE html>
  <html>

  <head>
    <meta charset="utf-8">
    <title>escape game</title>
    <link rel="stylesheet" href="fds.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">


  </head>
<body>
  <div class="container-header">
    <div class="row">
      <div class="col l2 offset-l1 titre">
        <p>
          test
        </p>
      </div>
      <div class="col l2">
        <p>
          test
        </p>
      </div>
      <div class="col l2">
        <p>
          test
        </p>
      </div>
      <div class="col l2">
        <p>
          test
        </p>
      </div>
      <div class="col l2">
        <p>
          test
        </p>
      </div>

    </div>

  </div>
</body>
  </html>
