<div id="questionsmodal" class="modal">
    <div class="modal-content">
        <h4>ESCAPE YOURSELF, C’EST QUOI AU JUSTE ?</h4>
        <p>Escape Yourself est un jeu dont le principe est simple : enfermés avec vos équipiers dans une pièce, votre objectif est de réussir à en sortir en moins de 60 minutes. Pour y parvenir, il faudra venir à bout de nombreux défis faisant appel à la
            logique, à la réflexion, à la communication et au travail d’équipe. Vous devrez fouiller la pièce à la recherche d’indices et chaque énigme résolue vous rapprochera un peu plus de celle qui vous permettra de retrouver la liberté. La réussite n’est
            pas garantie ! Environ 50% des équipes parviennent à déjouer les secrets de nos énigmes dans le temps imparti. En ferez-vous partie ?</p>
        <h4>POURQUOI ?</h4>
        <p>
            Parce que c'est différent, amusant et que cela vous offre un vrai défi à relever ! C’est le divertissement idéal pour les groupes d’amis, les familles et les collègues de travail. Nous pouvons recevoir plusieurs groupes en simultané et répondre à vos
            besoins spécifiques. N’hésitez pas à nous solliciter.
        </p>
        <h4>QUEL NOMBRE DE JOUEURS ?</h4>
        <p>
            Un minimum de 2 joueurs, et un maximum de 6 joueurs, sont nécessaires pour un bon confort de jeu. Attention, ce nombre est variable selon les énigmes.
        </p>
        <h4>JE SUIS CLAUSTROPHOBE, JE PEUX JOUER QUAND MÊME ?</h4>
        <p>
            Bien sûr ! En cas de besoin, vous avez toujours la possibilité d’utiliser une clé de secours. Si vous le souhaitez, nous pouvons même laisser la porte déverrouillée.
        </p>
        <h4>
            QUEL EQUIPEMENT POUR JOUER ?</h4>
        <p>
            Vous n’avez besoin de rien en particulier pour jouer. Néanmoins, si vous le souhaitez, vous pouvez venir déguisés en accord avec le thème de la pièce ! Une photo immortalisera ce moment à votre sortie.
        </p>
        <h4>A PARTIR DE QUEL ÂGE ?</h4>
        <p>
            Même s’il n’y a pas vraiment de minimum requis, certaines énigmes seront un peu trop ardues pour les enfants de moins de 10 ans. Les moins de 16 ans doivent quant à eux être accompagnés par au moins un adulte.
        </p>
    </div>
    <div class="modal-footer">
        <a href="#contacts" class=" modal-action modal-close waves-effect waves-yellow btn black btn-flat">Pour plus de renseignements cliquez ici</a>
    </div>
</div>
<div id="modalcredit" class="modal">
    <div class="modal-content">
        <h5>WEBMASTER | DESIGNER</h5>
        <div class="container">
            <div class="row">
              <div class="col l4 arnaud">
                  <div class="card">
                      <div class="card-image">
                          <a
                              href="https://www.linkedin.com/in/arnaud-monachon-b20ab0128?authType=NAME_SEARCH&authToken=upGH&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CentityType%3AentityHistoryName%2CclickedEntityId%3Amynetwork_528251208%2Cidx%3A0"
                              target="_blank"><img src="assets/img/credit/Arnaud-MONACHON.jpg" alt="Arnaud Moncachon photo"/></a>
                      </div>
                      <div class="card-content">
                          <a
                              href="https://www.linkedin.com/in/arnaud-monachon-b20ab0128?authType=NAME_SEARCH&authToken=upGH&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CentityType%3AentityHistoryName%2CclickedEntityId%3Amynetwork_528251208%2Cidx%3A0"
                              target="_blank">Arnaud MONACHON</a>
                      </div>
                      <div class="card-action">
                          cliquer
                          <a
                              href="https://www.linkedin.com/in/arnaud-monachon-b20ab0128?authType=NAME_SEARCH&authToken=upGH&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CentityType%3AentityHistoryName%2CclickedEntityId%3Amynetwork_528251208%2Cidx%3A0"
                              target="_blank">ici</a>
                          pour consulter mon profil Linkedin et
                          <a href="https://github.com/Arnaud12" target="_blank">ici</a>
                          pour mon GITHUB
                      </div>
                  </div>
              </div>
                <div class="col l4 sylvain">
                    <div class="card">
                        <div class="card-image">
                            <a
                                href="https://www.linkedin.com/in/sylvain-veron-7898b8122?authType=NAME_SEARCH&authToken=oAqD&locale=fr_FR&srchid=3369480081475133662370&srchindex=1&srchtotal=4&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3369480081475133662370%2CVSRPtargetId%3A509850969%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH"
                                target="_blank"><img src="assets/img/credit/Sylvain-VERON.jpg" alt="Sylvain Véron photo"/></a>
                        </div>
                        <div class="card-content">
                            <a
                                href="https://www.linkedin.com/in/sylvain-veron-7898b8122?authType=NAME_SEARCH&authToken=oAqD&locale=fr_FR&srchid=3369480081475133662370&srchindex=1&srchtotal=4&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3369480081475133662370%2CVSRPtargetId%3A509850969%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH"
                                target="_blank">Sylvain VERON</a>
                        </div>
                        <div class="card-action">
                            cliquer
                            <a
                                href="https://www.linkedin.com/in/sylvain-veron-7898b8122?authType=NAME_SEARCH&authToken=oAqD&locale=fr_FR&srchid=3369480081475133662370&srchindex=1&srchtotal=4&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3369480081475133662370%2CVSRPtargetId%3A509850969%2CVSRPcmpt%3Aprimary%2CVSRPnm%3Atrue%2CauthType%3ANAME_SEARCH"
                                target="_blank">ici</a>
                            pour consulter mon profil Linkedin
                            <a href="https://github.com/LOULAPPE" target="_blank">ici</a>
                            pour mon GITHUB
                        </div>
                    </div>
                </div>
                <div class="col l4 pierre">
                    <div class="card">
                        <div class="card-image">
                            <a
                                href="https://www.linkedin.com/in/pierre-gaillard-088a1594?authType=NAME_SEARCH&authToken=wQ-t&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A336948008%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1475133723876%2Ctas%3Apierre%20gaillard"
                                target="_blank"><img src="assets/img/credit/Pierre-GAILLARD.JPG" alt="pierre gaillard photo"/></a>
                        </div>
                        <div class="card-content">
                            <a
                                href="https://www.linkedin.com/in/pierre-gaillard-088a1594?authType=NAME_SEARCH&authToken=wQ-t&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A336948008%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1475133723876%2Ctas%3Apierre%20gaillard"
                                target="_blank">Pierre GAILLARD</a>
                        </div>
                        <div class="card-action">
                            cliquer
                            <a
                                href="https://www.linkedin.com/in/pierre-gaillard-088a1594?authType=NAME_SEARCH&authToken=wQ-t&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A336948008%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1475133723876%2Ctas%3Apierre%20gaillard"
                                target="_blank">ici</a>
                            pour consulter mon profil Linkedin et
                            <a href="https://github.com/pierregaillard1986" target="_blank">ici</a>
                            pour mon GITHUB
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!---Les Scripts --->

<!-- le footer-->
<footer class="page-footer black">
    <div class="container ">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 1</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 2</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 3</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Link 4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <a class="waves-effect waves-light btn modal-trigger" href="#modalcredit">crédit</a>
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>
