<div class="row">
    <div class="col l12">
        <div class='text-center'>
            <h2>Identification</h2>
        </div>
    </div>
    <div class="col l6 m8 s12 offset-l3 offset-m2 input-field">
        <i class="material-icons prefix">email</i>
        <input type="email" name="email" data-error="wrong" data-success="right" class="validate" id="email" ng-model='vm.email' ng-required='true'/>
        <label for="email" class="validate">Email :</label>
    </div>
    <div class="col l6 m8 s12 offset-l3 offset-m2 input-field">
        <i class="material-icons prefix">https</i>
        <input type="password" name="pass" data-error="wrong" data-success="right" class="validate" id="password" ng-model='vm.password' ng-required='true'/>
        <label for="tel" class="validate">Mot de passe :</label>
    </div>
    <div class="col l6 m8 s12 offset-l3 offset-m2 input-field input-field">
        <div ng-show="(vm.loginMessage)" class="alert" ng-class="{'alert-danger': vm.loginMessage.type == 'error', 'alert-success': vm.loginMessage.type == 'success', 'alert-info': vm.loginMessage.type == 'info'}">
            <h4>
                <span class="glyphicon glyphicon-exclamation-sign pull-left"></span>&nbsp;{{vm.loginMessage.title}}</h4>
            <p>{{vm.loginMessage.message}}</p>
        </div>
        <button ng-click='vm.login()' ng-disabled="formConnect.$invalid" class="waves-effect amber lighten-4 btn black modal-trigger">Connexion</button>
            </div>
        <div class="col l12 m12 s12">
          <p style="text-align: center">
            <a href="/#/">Retour sur Escape Game</a>
          </p>
        </div>

<!--
        <button ng-click='vm.createAccount()' ng-disabled="formConnect.$invalid" class="waves-effect amber lighten-4 btn black modal-trigger">S'enregistrer</button>
-->
</div>
