<div class="titre" id="ancre">
    <h1>Château</h1>
    <h2>La Loupe</h2>
    <a href="#accueil"><img class="imagetitre" src="assets/img/key.png" alt="clef" width="10%"/></a>
</div>
<!--- contenu acceuil-->
<ng-include src="'views/contenu_accueil/accueil.html'"></ng-include>
<!--- contenu Mission   -->
<ng-include src="'views/contenu_accueil/enigmes.html'"> ng-controller='enigmeController as vm'</ng-include>

<!--- contenu actu--->
<ng-include src="'views/contenu_accueil/actu.html'"></ng-include>
<!--- contenu résa--->
<ng-include src="'views/contenu_accueil/reservation.html'"></ng-include>
<!--- contenu question--->
<ng-include src="'views/contenu_accueil/questions.html'"></ng-include>
<!--- contenu contact--->
<ng-include src="'views/contenu_accueil/contact.html'"></ng-include>
