<!--- navbar catégories-->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#ancre" class="brand-logo js-scrollTo"><img src="assets/img/symbole.gif" alt="symbole" width="22%"/></a>
            <a class="namelogo">Escape Game</a>
            <ul class="right hide-on-med-and-down ">
                <li>
                    <a class="js-scrollTo" href="#accueil" class="waves-effect waves-yellow btn-small black" href="accueil.html">Accueil</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#enigmes" class="waves-effect waves-yellow btn-small black" href="enigmes.html">Enigmes</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#actu" class="waves-effect waves-yellow btn-small black" href="actu.html">Actualités</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#resa" class="waves-effect waves-yellow btn-small black" href="resa.html">Réservation et Tarifs</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#questions" class="waves-effect waves-yellow btn-small black" href="questions.html">Questions fréquentes</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#contacts" class="waves-effect waves-yellow btn-small black" href="contact.html">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
