<!--- navbar catégories-->
<div class="navbar-fixed" ng-controller="navbarController as vm">
    <nav>
        <div class="nav-wrapper">
            <a href="#ancre" class="brand-logo js-scrollTo logofm"><img src="assets/img/symbole.gif" alt="symbole" width="21%"/></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse right">
                <i class="material-icons">menu</i>
            </a>
            <a class="namelogo">Escape Game</a>
            <ul class="right hide-on-med-and-down ">
                <li>
                    <a class="js-scrollTo" href="#accueil" class="waves-effect amber lighten-4 btn-small black" href="accueil.html">Accueil</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#enigmes" class="waves-effect amber lighten-4 btn-small black" href="enigmes.html">Enigmes</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#actu" class="waves-effect amber lighten-4 btn-small black" href="actu.html">Actualités</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#resa" class="waves-effect amber lighten-4 btn-small black" href="resa.html">Réservation et Tarifs</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#questions" class="waves-effect amber lighten-4 btn-small black" href="questions.html">Questions fréquentes</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#contacts" class="waves-effect amber lighten-4 btn-small black" href="contact.html">Contact</a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a class="js-scrollTo" href="#accueil">Accueil</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#enigmes">Enigmes</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#actu">Actualités</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#resa">Réservation et Tarifs</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#questions">Questions fréquentes</a>
                </li>
                <li>
                    <a class="js-scrollTo" href="#contacts">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
