<div class="container actu" id="actu">
    <div class="row">
        <div class="col l6 s12 gauche image">
            <img materialboxed class="materialboxed" src="assets/img/dactylo.jpg" alt="chateau de la loupe">
        </div>
        <div class="col l6 m12 droite">
            <h2 class="titrearticles">Actualités</h2>

            <iframe id="likebox-wrapper"   src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLaLoupe28%2F%3Ffref%3Dts&tabs=timeline&width=500&height=400&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                width="500"
                height="400"
                style="border:none;overflow:hidden"
                scrolling="no"
                frameborder="0"
                allowTransparency="true"></iframe>
        </div>

    </div>
</div>
