<div class="container actu" id="actu">
    <div class="row">
        <div class="col l6 s12 gauche image">
            <img materialboxed class="materialboxed" src="assets/img/dactylo.jpg" alt="chateau de la loupe">
        </div>
        <div class="col l6 m12 droite">
            <h2 class="titrearticles">Actualités</h2>
            <div
                class="fb-page"
                data-href="https://www.facebook.com/Wild-Code-School-250654291968723/?fref=ts"
                data-tabs="timeline"
                data-width="500px"
                data-height="500px"
                data-small-header="false"
                data-adapt-container-width="true"
                data-hide-cover="false"
                data-show-facepile="true">
                <blockquote cite="https://www.facebook.com/Wild-Code-School-250654291968723/?fref=ts" class="fb-xfbml-parse-ignore">
                    <a href="https://www.facebook.com/Wild-Code-School-250654291968723/?fref=ts">Wild Code School</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>
