<div class="container contact" id="contacts">
    <div class="row">
        <div class="col l6 m12">
            <h2 class="titrearticles">Contacts</h2>
            <p class="flow-text gauche">
                Qu'est-ce que le Lorem Ipsum? Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme
                assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé
                dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.
            </p>
        </div>
        <div class="col l6 m12 droite">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.289240569418!2d1.0130274155733017!3d48.470165379251384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3c1f9b2ac6a3b%3A0x57568a7db096bab!2zQ2jDonRlYXU!5e0!3m2!1sfr!2sfr!4v1474655988853"
                width="100%"
                height="600vh"
                frameborder="0"
                style="border:0"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
