<div class="container contact" id="contacts">
    <div class="row">
        <div class="col l6 gauche">
            <h2 class="titrearticles">contacts</h2>
            <form class="col l12">
                <div class="col l6 input-field ">
                    <i class="material-icons prefix">contacts</i>
                    <input type="text" name="name" class="validate" id="name" />
                    <label for="name">Nom :</label>
                </div>
                <div class="col l6 input-field ">
                    <i class="material-icons prefix">perm_identity</i>
                    <input type="text" name="firstname" class="validate" id="firstname" />
                    <label for="firstname">Prénom :</label>
                </div>
                <div class="col l6 input-field">
                    <i class="material-icons prefix">email</i>
                    <input type="email" name="email" data-error="wrong" data-success="right" class="validate" id="email" />
                    <label for="email" class="validate">Email :</label>
                </div>
                <div class="col l6 input-field">
                    <i class="material-icons prefix">contact_phone</i>
                    <input type="tel" name="tel" data-error="wrong" data-success="right" class="validate" id="tel" />
                    <label for="tel" class="validate">Téléphone :</label>
                </div>
                <div class="col l12 input-field">
                    <i class="material-icons prefix">comment</i>
                    <textarea id="textarea1" class="materialize-textarea" name="demande" class="validate" maxlength="600"></textarea>
                    <label for="textarea1">Objet de votre demande (500 caractères maximum):</label>
                </div>
                <div class="col l12 input-field">
                    <a class="waves-effect amber lighten-4 btn black modal-trigger">Envoyer la demande</a>
                </div>
            </form>
        </div>
        <div class="col l6 droite">
        </div>
    </div>
</div>
