<div class="container contact" id="contacts">
    <div class="row">
        <div class="col l6 m12 s12 gauche">
            <h2 class="titrearticles">Contact</h2>
            <form>
                <div class="col l12 m12 s11 input-field ">
                    <i class="material-icons prefix">contacts</i>
                    <input type="text" ng-model="email.name" class="validate" id="name"/>
                    <label for="name">Nom :</label>
                </div>
                <div class="col l6 m6 s11 input-field">
                    <i class="material-icons prefix">email</i>
                    <input type="email" ng-model="email.email" data-error="wrong" data-success="right" class="validate" id="email"/>
                    <label for="email" class="validate">Email :</label>
                </div>
                <div class="col l6 m6 s11 input-field">
                    <i class="material-icons prefix">contact_phone</i>
                    <input type="tel" ng-model="email.tel" data-error="wrong" data-success="right" class="validate" id="tel"/>
                    <label for="tel" class="validate">Téléphone :</label>
                </div>
                <div class="col l12 m6 s11 input-field">
                    <i class="material-icons prefix">comment</i>
                    <textarea id="textarea1" class="materialize-textarea" ng-model="email.msg" class="validate" maxlength="600"></textarea>
                    <label for="textarea1">Objet de votre demande (500 caractères maximum):</label>
                </div>
                <div class="col l12 m6 s11 input-field">
                    <a class="waves-effect amber lighten-4 btn black modal-trigger" ng-click='vm.mailTransport(email)'>Envoyer la demande</a>
                </div>
            </form>
        </div>
        <div class="col l6 m12 s12 droite center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2645.2892405694183!2d1.0130274154280459!3d48.47016537925138!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e3c1f9b2ac6a3b%3A0x57568a7db096bab!2zQ2jDonRlYXU!5e0!3m2!1sfr!2sfr!4v1477059449041"
                width="600"
                height="450"
                frameborder="0"
                style="border:0"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
