<div class="container enigme" id="enigmes">
    <div class="row" ng-repeat='enigme in vm.enigmes | orderBy:nom_enigme'>
        <div class="col l6 s12 gauche">
            <h2>Enigmes</h2>
            <div class="panel panel-default">
                <h4 ng-show='vm.enigmes.length>0'>{{enigme.nom_enigme}}</h4>
                <p ng-show='vm.enigmes.length>0'>{{enigme.description_enigme}}</p>
                <button class="waves-effect amber lighten-4 btn black" type="submit" name="bookéo">Réserver
                    <i class="material-icons right">games</i>
                </button>
            </div>
        </div>
        <div class="col l6 s12 droite center image">
            <img src= "assets/img/enigme.jpg" alt="chateau de la loupe"/>
        </div>
    </div>
</div>
</div>
