<div class="container enigme" id="enigmes">
    <div class="row">
        <div class="col l6 s12 gauche">
            <h2 class="titrearticles">Enigmes</h2>
            <p class="flow-text">
                Qu'est-ce que le Lorem Ipsum? Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme
            </p>
            <button href="http://bookeo.com/escapegametest1?type=3252C6E47Y1578EDFC1EB&option_TYPE_OF_SERVICE=LFLYNXXY" target="_blank"class="btn waves-effect btn-large amber lighten-4" type="submit" name="action">réserver maintenant
    </button>
        </div>
        <div class="col l6 s12 droite">
            <img materialboxed class="materialboxed" src="assets/img/chateaulaloupe1.jpg" alt="chateau de la loupe">
        </div>
    </div>
</div>
