<div class="container question" id="questions">
    <div class="row">
        <div class="col l6 m12 gauche image">
            <img materialboxed class="materialboxed" src="assets/img/machine.jpg" alt="chateau de la loupe" />
        </div>
        <div class="col l6 m12 droite">
            <h2 class="titrearticles">Questions ?</h2>
            <p class="flow-text" >
              Escape Game c'est quoi ? <br>Pourquoi venir ? <br>Combien de joueurs ? <br> Pour qui ? <br>Quel équipement ? <br>A quel âge ?
            </p><br>
            <a class="waves-effect amber lighten-4 btn black modal-trigger" href="#questionsmodal" modal>Les réponses</a>
        </div>
    </div>
</div>
<div id="questionsmodal" class="modal">
    <div class="modal-content">
        <h4>ESCAPE GAME, C’EST QUOI AU JUSTE ?</h4>
        <p>Escape Yourself est un jeu dont le principe est simple : enfermés avec vos équipiers dans une pièce, votre objectif est de réussir à en sortir en moins de 60 minutes. Pour y parvenir, il faudra venir à bout de nombreux défis faisant appel à la
            logique, à la réflexion, à la communication et au travail d’équipe. Vous devrez fouiller la pièce à la recherche d’indices et chaque énigme résolue vous rapprochera un peu plus de celle qui vous permettra de retrouver la liberté. La réussite n’est
            pas garantie ! Environ 50% des équipes parviennent à déjouer les secrets de nos énigmes dans le temps imparti. En ferez-vous partie ?</p>
        <h4>POURQUOI ?</h4>
        <p>
            Parce que c'est différent, amusant et que cela vous offre un vrai défi à relever ! C’est le divertissement idéal pour les groupes d’amis, les familles et les collègues de travail. Nous pouvons recevoir plusieurs groupes en simultané et répondre à vos
            besoins spécifiques. N’hésitez pas à nous solliciter.
        </p>
        <h4>QUEL NOMBRE DE JOUEURS ?</h4>
        <p>
            Un minimum de 2 joueurs, et un maximum de 6 joueurs, sont nécessaires pour un bon confort de jeu. Attention, ce nombre est variable selon les énigmes.
        </p>
        <h4>JE SUIS CLAUSTROPHOBE, JE PEUX JOUER QUAND MÊME ?</h4>
        <p>
            Bien sûr ! En cas de besoin, vous avez toujours la possibilité d’utiliser une clé de secours. Si vous le souhaitez, nous pouvons même laisser la porte déverrouillée.
        </p>
        <h4>
            QUEL EQUIPEMENT POUR JOUER ?</h4>
        <p>
            Vous n’avez besoin de rien en particulier pour jouer. Néanmoins, si vous le souhaitez, vous pouvez venir déguisés en accord avec le thème de la pièce ! Une photo immortalisera ce moment à votre sortie.
        </p>
        <h4>A PARTIR DE QUEL ÂGE ?</h4>
        <p>
            Même s’il n’y a pas vraiment de minimum requis, certaines énigmes seront un peu trop ardues pour les enfants de moins de 10 ans. Les moins de 16 ans doivent quant à eux être accompagnés par au moins un adulte.
        </p>
    </div>
</div>
