<div class="container reservation" id="resa">
    <div class="row">
        <div class="col l6 m12 gauche">
            <h2 class="titrearticles">Réservations</h2>
            <table class="col l6 responsive-table centered striped horaire ">
                <thead>
                    <tr>
                        <th data-field="id">Jours</th>
                        <th data-field="name">Horaires</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Lundi</td>
                        <td>9h-20h</td>

                    </tr>
                    <tr>
                        <td>Mardi</td>
                        <td>9h-20h</td>
                    </tr>
                    <tr>
                        <td>Mercredi</td>
                        <td>9h-20h</td>
                        <tr>
                            <td>Jeudi</td>
                            <td>9h-20h</td>
                        </tr>
                        <tr>
                            <td>Vendredi</td>
                            <td>9h-20h</td>
                        </tr>
                        <tr>
                            <td>Samedi</td>
                            <td>9h-20h</td>
                        </tr>
                        <tr>
                            <td>Dimanche</td>
                            <td>9h-20h</td>
                        </tr>
                    </tbody>
                </table>
                <table class="col l4 offset-l2 responsive-table striped centered price ">
                    <thead>
                        <tr>
                            <th data-field="id">Groupe</th>
                            <th data-field="name">Prix</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>3</td>
                            <td>18€</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>16€</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>14€</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col l6 m12 droite">
                <button href="http://bookeo.com/escapegametest1?type=3252C6E47Y1578EDFC1EB&option_TYPE_OF_SERVICE=LFLYNXXY" target="_blank" class="btn waves-effect btn-large amber lighten-4" type="submit" name="action">réserver maintenant
                </button>
            </div>
        </div>
    </div>
