@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}
body {
    background-color: black;
    color: rgb(216, 191, 151)!important;
    font-size: 14px;
    text-align: justify;
    background-image: url(../img/backgroundh1.png);
}

/*NAV BAR*/
nav {
    background-color: rgba(0, 0, 0, 0.5);
    border-bottom: 0.5px solid rgb(216, 191, 151);
}

.navbar-color nav {
    background-color: rgba(0, 0, 0, 1);
}

ul li a {
    color: rgb(216, 191, 151);
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
}
/*bouton hamburger*/
#mobile-demo{
  background-color: black;
}
/*FIN NAV BAR*/

.titre {
    height: 100vh;
    margin-top: -100px;
    background-image: url(../img/imgchateau.jpg);
    background-size: cover;
}

.logofm {
    top: 15%;
    left: 1%!important;
    font-family: 'Tangerine', cursive;
    font-size: 1em;
}

.namelogo {
    margin-left: 7%;
    font-family: 'Tangerine', bold;
    font-size: 3em;
}

#accueil {
    margin-top: 100px;
}

#actu, #resa, #questions, #enigmes, #accueil {
    width: 100vw;
    height: 100vh;
}

#contacts {
    width: 100vw;
    height: 80vh;
}


/* HORLOGE*/

@media (max-width: 992px) {
    #horloge {
        padding-bottom: 100%;
        left: 10%!important;
    }
}

.time {
    margin: 8% 15% 0 20%;
}

#accueil img {
    width: 75%;
    height: auto;
    position: absolute;
}

#horloge {
    position: relative;
    width:  40%;
}

#aiguille {
    animation: rotate 60s infinite linear;
}
/*FIN DE HORLOGE*/
h1, h2 {
    font-family: 'Tangerine', cursive;
    font-size: 9em;
    position: relative;
    top: 18%;
    text-align: center;
}

h1 {
    font-size: 10em;
}

h2 {
    margin: 0!important;
}

.titrearticles {
    font-family: 'Tangerine', cursive;
    font-size: 8em;
    text-align: center;
}

.imagetitre {
    position: absolute;
    top: 85%;
    left: 45%;
}

a {
    color: rgb(216, 191, 151)!important;
}

p {
    font-size: 1.1em!important;
}
@media (max-width: 992px) {
    p {
      font-size: 0.8;
    }
}
h4 {
    font-size: 1.2em;
}

.materialboxed {
    width: 100%;
}

.container, .row {
    font-family: 'Playfair Display', serif;
    font-size: 1.1em;
}

.footer p {
    text-align: center;
    line-height: 50%;
    font-size: 0.8em!important;
}

.reservation button, .enigme button, #CGU .modal-footer a, #modalcredit .modal-footer a, #questionmodal .modal-footer a, #questions .row .droite a {
    color: black!important;
    font-weight: bolder;
}



tr:nth-child(odd) td {
    background-color: rgb(216, 191, 151);
    color: black;
}

.modal, .modal .modal-footer {
    background-color: black;
}

.card {
    background-color: black;
    text-align: center;
}

#modalcredit * {
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#modalcredit .modal-content a {
    margin: 0;
}

#logowcs {
    width: 2.5%;
    margin-left: 1%;
    vertical-align: middle;
}

#logowcs:hover {
    animation: rotate 0.5s infinite linear;
    animation-direction: reverse;
}

.footer {
    margin-top: 5%;
}

.image img {
    width: 70%;
}
/* css du formulaire*/
input:focus, textarea:focus, input:focus + label, textarea:focus + label {
   color: rgb(216, 191, 151)!important;
   border-bottom:1px solid rgb(216, 191, 151)!important;
   box-shadow:0 1px 0 0 rgb(216, 191, 151)!important;
 }
 .prefix.active {
   color: rgb(216, 191, 151)!important;
 }
 .input-field label {
  color: rgb(216, 191, 151)!important;
 }
